body {
    margin: 0;
    padding: 0;
}
#Container1{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
}
#Container1 button {
    width: 60%;
    height: 10%;
    font-size: x-large;
    font-family: "Archivo Black", sans-serif;
    font-weight: 600;
    border-radius: 100px;
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: #add8e6ad;
    margin-left: 20%;
    box-shadow: -9px 9px 9px 0px #1291b759;
    border: 2px #0f2fbe solid;
}

#Container1 button:hover {
    background-color: #add8e6ad;
    transition: 10s;
    border: 2px #0f2fbe solid;
}

.cor1 {
    animation: Cor1 2s forwards;
}

.cor2 {
    animation: Cor2 5s forwards;
}
@keyframes Cor1 {
    from {
        background-color: #add8e6ad;
        color: white;
        border-color: #001aff;
    }
    to {
        background-color: #0b4152;
        color: white;
        border-color: white;
    }
}

@keyframes Cor2 {
    from {
        background-color: #0b4152;
        color: white;
        border-color: white;
    }
    to {
        background-color: #add8e6ad;
        color: white;
        border-color: #001aff;
    }
}
